<%= form_for(@source) do |f| %>
  <% if @source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@source.errors.count, "error") %> prohibited this source from being saved:</h2>

      <ul>
      <% @source.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :timezone %><br />
    <%= f.text_field :timezone %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :language %><br />
    <%= f.text_field :language %>
  </div>
  <div class="field">
    <%= f.label :schedule %><br />
    <%= f.text_field :schedule %>
  </div>
  <div class="field">
    <%= f.label :conversion %><br />
    <%= f.text_field :conversion %>
  </div>
  <div class="field">
    <%= f.label :recipe_hash %><br />
    <%= f.text_field :recipe_hash %>
  </div>
  <div class="field">
    <%= f.label :recipe_name %><br />
    <%= f.text_field :recipe_name %>
  </div>
  <div class="field">
    <%= f.label :requires_login %><br />
    <%= f.check_box :requires_login %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
